<div class= "container">
  <div class="row">
    <div class="mx-auto">
      <h1>
        welcome to
        <i class="fas fa-book"></i>
        <strong>Bookers!!</strong>
      </h1>

      In<i class="fas fa-book"></i><strong>Bookers,</strong><br>
      you can share and exchange your opinions , inpressions , and emotions<br>
      about various books!

      <div class="btn-wrapper col-10 mx-auto">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
      </div>
    </div>
  </div>
</div>

